.main__heading {
  max-width: 620px;
  font-family: 'Nekst-Black', Arial, sans-serif;
  font-size: 54px;
  line-height: 48.6px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .main__heading {
      font-size: 40px;
    }
}

@media screen and (max-width: 650px) {
  .main__heading {
    font-size: 34px;
  }
}

@media screen and (max-width: 320px) {
  .main__heading {
    line-height: 30.6px;
  }
}