 .form__btn {
  width: 426px;
  background-color: #FF9514;
  border: none;
  padding: 14px 0;
  cursor: pointer;
  box-sizing: border-box;
  color: #FFFFFF;
  border-radius: 40px;
  font-family: 'Nekst-Black', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .2s;
}

.form__btn:hover {
  background-color: #111111;
}

@media screen and (max-width: 1390px) {
  .form__btn {
    width: 309px;
  }
}

@media screen and (max-width: 1024px) {
  .form__btn {
    left: 0;
    bottom: -100px;
  }
}

@media screen and (max-width: 650px) {
  .form__btn {
    width: 100%;
  }
}

@media screen and (max-width: 595px) {
  .form__btn {
    font-size: 22px;
    line-height: 20px;
  }
}
