.form__field-icon {
  position: absolute;
  bottom: 15px;
  right: 24px;
  font-family: 'Nekst-Black', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: #575757;
}

@media screen and (max-width: 595px) {
  .form__field-icon {
    font-size: 22px;
    line-height: 20px;
  }
}