.form__input_cost {
  border-radius: 16px;
  font-family: 'Nekst-Black', Arial, sans-serif;
  font-size: 54px;
  line-height: 48.6px;
  font-weight: 900;
  padding: 10px;
  background: transparent;
}

@media screen and (max-width: 595px) {
  .form__input_cost {
    font-size: 22px;
    line-height: 20px;
  }
}